@font-face {
    font-family: 'Base Neue';
    src: url("../../assets/fonts/BaseNeueTrial-Regular.ttf") format("TrueType");
    font-weight: 400;
}

@font-face {
    font-family: 'Base Neue';
    src: url("../../assets/fonts/BaseNeueTrial-SemiBold.ttf") format("TrueType");
    font-weight: 600;
}

@font-face {
    font-family: 'Base Neue';
    src: url("../../assets/fonts/BaseNeueTrial-Bold.ttf") format("TrueType");
    font-weight: 700;
}

